﻿body {
    background-image: url('image/cloud-computing.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}
.close {
    height: 30px;
    width: 100%;
    background-color: red;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.l {
    height: inherit;
    width: 80%;
    display: none;
    position: absolute;
    top: 160px;
    left: 10%;
}
.head {
    height: 150px;
    width: 80%;
    margin: auto;
}
.nav {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -20%;
    background-color: #1685b1;
    z-index: 1000;
}
.element {
    text-decoration: none;
    text-transform: uppercase;
}
.link {
    width: 100%;
    /*border-bottom: 1px solid black;*/
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}
.element li{
    width: 100%;
    border-bottom: 1px solid black;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}
.element li:hover {
    background-color: #ff4b00;
    color: #000000;
}
.image {
    height: 450px;
    width: 80%;
    margin:auto;
}
.welcome {
    height: 75px;
    width: 80%;
    margin: auto;
    position: relative;
    top: -12px;
}
.welcome p{
    font-size: 35px;
    text-shadow: 0 0 10px #0d63c2;
    color: #ffffff;
    position: relative;
    top: -80px;
    left: 20%;
    z-index: 100;
}
.detail {
    position: relative;
    top: -100px;
    height: 520px;
    width: 80%;
    margin: auto;
    background-color: white;
}
.workshop {
    position: relative;
    top: 20px;
    left: -10px;
    height: 50px;
    width: 250px;
    background-color: #0d63c2;
}
.workshop p {
    text-align: center;
    -webkit-text-fill-color: antiquewhite;
    -ms-text-fill-color: antiquewhite;
    -o-text-fill-color: antiquewhite;
    -moz-text-fill-color: antiquewhite;
    position: relative;
    top: 17px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wdetail{
    height: auto;
    width: 80%;
    margin: auto;
    position: relative;
    top: 20px;
    text-align: left;
    font-size: 15px;
    color: #808080;
}
.register {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}
.txtbox {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.txtbox:focus {
    box-shadow: 0 0 10px #0d63c2;
}
.pop {
    text-shadow: 0 0 10px red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: azure;
}
.btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.btn:hover {
    box-shadow: 0 0 15px #0d63c2;
}
